/* @override http://localhost:3000/stylesheets/casocial.css */

body { background-color: #fff; color: #333; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

.casocial {
	font-size: 36px;
	font-weight: bold;
	font-style: italic;
	text-align: center;
	margin: 20%;
}
